---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCE = [
  {
    date: 'Marzo 2024',
    title: 'Tech Lead',
    company: 'Arca',
    description:
      'Lidero un equipo de desarrollo de software en Arca, una startup donde tratamos de resolver el problema de la pensión pública ayudando a empresas a implementar planes de pensiones de empleo de manera sencilla y eficaz. Trabajamos con tecnologías modernas como React, NestJS (Node.js), Jest, TypeScript, PostgreSQL, etc',
  },
  {
    date: 'Junio 2022',
    title: 'Backend Developer',
    company: 'Gibobs',
    description:
      'Integrante del equipo de desarrollo de software en Gibobs, una startup donde tratamos de ayudar a los clientes a obtener la mejor hipoteca bancaria. Trabajamos con tecnologías modernas como NestJS (Node.js), Jest, TypeScript, PostgreSQL, RabbitMQ, etc',
  },
  {
    date: 'Enero 2022',
    title: 'Backend Developer',
    company: 'The Cocktail',
    description:
      'Participé como backend developer en el desarrollo de una aplicación para clientes de una gran compañía de energía. Trabajamos con tecnologías como NestJS, Node.js, TypeScript, etc',
  },
  {
    date: 'Febrero 2020',
    title: 'Software Developer',
    company: 'CoverManager',
    description:
      'Trabajé en diferentes proyectos, como en el desarrollo de una app móvil multiplataforma para la gestión de reservas de restaurantes de nuestros clientes como en un asistente virtual para gestionar las reservas por vía telefónica. Trabajamos con tecnologías como React Native, Node.js, Express, JavaScript, Jest etc',
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
